<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solarpred.solcaster.mapper.BoardMapper">

    <!--  게시판 전체글 불러오기  -->
<!--    <select id="viewBoardList" resultType="com.solarpred.solcaster.domain.Board">-->
<!--        select * from s_qna-->
<!--    </select>-->
    <select id="boardList" resultType="hashmap" parameterType="hashmap">
        <![CDATA[
            select * from s_qna order by qna_date desc limit #{pageStart}, #{perPageNum}
        ]]>
    </select>

    <!--  게시판 전체글 갯수 불러오기  -->
    <select id="boardListCnt" resultType="int">
        select count(*) from s_qna
    </select>

    <!--  글 작성 기능  -->
    <insert id="boardWriteForm" parameterType="com.solarpred.solcaster.domain.Board">
        insert into s_qna values(null, #{qna_cat}, #{qna_title}, #{qna_content}, now(), " ", #{mem_id}, 0)
    </insert>

    <!--  특정 게시물 조회  -->
    <select id="boardView" resultType="com.solarpred.solcaster.domain.Board" parameterType="int">
        select * from s_qna where qna_seq = #{seq}
    </select>


</mapper>