<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solarpred.solcaster.mapper.DashBoardMapper">

    <!-- 발전량 20개 가져오기  -->
    <select id="getAOD" parameterType="String" resultType="com.solarpred.solcaster.domain.DashBoard">
        <![CDATA[
        select * from s_real_data where r_date <= (select r_date from s_real_data where r_date like #{parsingTime}) order by r_date desc limit 20;
        ]]>
    </select>

    <!--  현재시간 발전량 가져오기  -->
    <select id="currentGetAOD" parameterType="String" resultType="com.solarpred.solcaster.domain.DashBoard">
        select * from s_real_data where r_date like #{parsingTime}
    </select>


    <select id="DashBoardSelect" resultType="com.solarpred.solcaster.domain.DashBoard">
        select * from s_real_data order by r_date desc limit 1
    </select>


</mapper>