<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solarpred.solcaster.mapper.DashBoardMapper">

    <select id="getTemp_weather" parameterType="String" resultType="com.solarpred.solcaster.domain.Temp_weather">
        select * from s_real_data where date_time > (select date_time from s_real_data where date_time like #{parsingTime}) limit 20;
    </select>


</mapper>